# tasks file
---
- name: install dependencies
  apt:
    name: "{{ logcheck_dependencies }}"
    state: "{{ apt_install_state | default('latest') }}"
    update_cache: true
    cache_valid_time: "{{ apt_update_cache_valid_time | default(3600) }}"
  tags:
    - configuration
    - logcheck
    - logcheck-dependencies

- name: install additional
  apt:
    name: "{{ logcheck_install }}"
    state: "{{ apt_install_state | default('latest') }}"
  tags:
    - configuration
    - logcheck
    - logcheck-install

- name: update configuration file - /etc/logcheck/logcheck.conf
  template:
    src: etc/logcheck/logcheck.conf.j2
    dest: /etc/logcheck/logcheck.conf
    owner: root
    group: logcheck
    mode: 0640
  tags:
    - configuration
    - logcheck
    - logcheck-configuration

- name: update configuration file - /etc/logcheck/logcheck.logfiles
  template:
    src: etc/logcheck/logcheck.logfiles.j2
    dest: /etc/logcheck/logcheck.logfiles
    owner: root
    group: logcheck
    mode: 0640
  tags:
    - configuration
    - logcheck
    - logcheck-configuration

- name: update cron.d script
  template:
    src: etc/cron.d/logcheck.j2
    dest: /etc/cron.d/logcheck
    owner: root
    group: root
    mode: 0644
    force: true
  when: logcheck_manage_cron_d | bool
  tags:
    - configuration
    - logcheck
    - logcheck-cron-d

- name: update (custom) ignore.d rules
  template:
    src: etc/logcheck/ignore.d/custom.j2
    dest: "/etc/logcheck/ignore.d.{{ logcheck_reportlevel }}/custom"
    owner: root
    group: logcheck
    mode: 0640
  when: logcheck_custom_ignores | length > 0
  tags:
    - configuration
    - logcheck
    - logcheck-ignore-d
